{% include "Inc/Header.html" %}

<main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="text-center">
      <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">CABAÑAS YJ</h1>
      <p class="mt-6 text-base leading-7 text-gray-600">estamos ubicados en playa tranquila, en la zona más bonita con aguas cristalinas. Las cabañas están a pocos pasos de la orilla de la playa, como huésped nuestros tienes acceso ilimitado a las camas de playa ubicadas frente al mar. Posibilidad de asistir a excursiones en los alrededores cómo visita al plantón luminoso, tour del manglar, o ida a las islas del rosario y otras zonas aledañas en las que podrás disfrutar de zonas paradisíacas.
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="/Servicios/Index" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Servicios</a>
        <a href="/Galeria/Index" class="text-sm font-semibold text-gray-900">Galeria <span aria-hidden="true">&rarr;</span></a>
      </div>
    </div>

    
  </main>

  

{% include "Inc/Footer.html" %}