{% include "Inc/Header.html" %}

<section class="bg-white dark:bg-gray-900">
  <div class="container px-6 py-8 mx-auto">

    <div id="default-carousel" class="relative w-full" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative h-96 overflow-hidden rounded-lg md:h-96">
          {% for c in imagenes %}
             <!-- Item 1 -->
            <div class="hidden duration-500 ease-in-out" data-carousel-item>
                <img src="../media/{{ c.url_imagen }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
          {% endfor %} 
        </div>
        <div class="absolute z-20 grid text-center inset-0 w-full p-5 bg-gray-900/75 rounded-lg">
          <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-100 md:text-5xl lg:text-6xl dark:text-white">CABAÑAS YJ</h1>
          <p class="mb-6 text-lg font-normal text-gray-100 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">Nuestra ubicación se encuentra en Playa Tranquila, una zona de aguas cristalinas que se destaca por su belleza. Las cabañas están estratégicamente situadas a pocos pasos de la orilla, brindándote un acceso ilimitado a nuestras cómodas camas de playa frente al mar. Además, como huésped, tendrás la oportunidad de participar en emocionantes excursiones en los alrededores, como visitas al bosque luminoso, recorridos por el manglar y viajes a las Islas del Rosario y otras áreas cercanas, donde podrás disfrutar de auténticos paraísos naturales.
          </p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="/Servicios/Index" class="rounded-md bg-blue-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">Servicios</a>
            <a href="/Galeria/Index" class="text-sm font-semibold text-gray-100">Galeria <span aria-hidden="true">&rarr;</span></a>
          </div>
        </div>  
    </div>

    <swiper-container class="mySwiper pt-10" autoplay-delay="5000" autoplay-disable-on-interaction="false" space-between="30" slides-per-view="4">

    {% for c in servicio %}
    {% if c.estado == True %}
    <swiper-slide>
      <div class=" w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
          <img class="pb-8 h-96 w-full rounded-t-lg" src="../media/{{ c.foto }}" alt="product image" />
        </a>
        <div class="px-5 pb-5">
          <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{{ c.nombre }}</h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 line-clamp-5">{{ c.descripcion }}</p>
          <div class="flex items-center mt-2.5 mb-5">
            <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
              <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
            </svg>
            <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">5.0</span>
          </div>
          <hr class="w-full h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
          <div class="flex items-center justify-between">
            <span class="text-3xl font-bold text-gray-900 dark:text-white">${{ c.precio }}</span>
            {% if user.is_authenticated %}
            <a href="/Reservas/ReservarServicio/{{ c.id }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Realizar Reserva</a>
            {% endif %}
          </div>
        </div>
      </div>
    </swiper-slide>
    {% endif %}
    {% endfor %}

    {% for c in habitacion %}
    {% if c.estado == True %}
    <swiper-slide>
      <div class=" w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
          <img class="pb-8 h-96 w-full rounded-t-lg" src="../media/{{ c.foto }}" alt="product image" />
        </a>
        <div class="px-5 pb-5">
          <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{{ c.nombre }}</h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 line-clamp-5">{{ c.descripcion }}</p>
          <div class="flex items-center mt-2.5 mb-5">
            <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
              <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
            </svg>
            <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">5.0</span>
          </div>
          <hr class="w-full h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
          <div class="flex items-center justify-between">
            <span class="text-3xl font-bold text-gray-900 dark:text-white">${{ c.precio }}</span>
            {% if user.is_authenticated %}
            <a href="#" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Realizar Reserva</a>
            {% endif %}
          </div>
        </div>
      </div>
    </swiper-slide>
    {% endif %}
    {% endfor %}

    </swiper-container>

  </div>

</section>
  

{% include "Inc/Footer.html" %}