{% include "Inc/Header.html" %}

<div class="flex items-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900">
    <div class="flex-1 h-full max-w-4xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl dark:bg-gray-800">

            <div class="flex items-center justify-center p-6 sm:p-12">

                <div class="w-full">

                    <h1 class="mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200">
                        Agregar Restaurante
                    </h1>
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label class="block mt-4 text-sm">
                            <span class="text-gray-700 dark:text-gray-400">Nombre del Restaurante:</span>
                            <input
                                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                name="name"required/>
                        </label>

                        <div class="grid grid-cols-2 gap-5 ">
                            <label class="block pt-2">
                                <span class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Foto del Servicio:</span>
                                <input type="file" class="w-full text-sm file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-blue-400 file:text-zinc-900 hover:file:bg-blue-300 pt-2" name="url_img" required onchange="previewImage(event)"/>
                                <p class="mt-2 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">PNG, JPG or JPEG (MAX. 400kb).</p>
                              </label>

                              <img id="preview-image" class="max-h-40 max-w-40 rounded-lg" alt="Vista previa de la imagen" style="display: none;">
                        </div>

                        <label class="block mt-4 text-sm">
                            <span class="text-gray-700 dark:text-gray-400">Descripcion</span>
                            <input
                                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                 name="descripcion" type="text" required >
                        </label>

                        <label class="block mt-4 text-sm">
                            <span class="text-gray-700 dark:text-gray-400">Direccion</span>
                            <input
                                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                name="ubicacion"required type="text"/>
                        </label>

                        <label class="block mt-4 text-sm">
                            <span class="text-gray-700 dark:text-gray-400">Estado</span>
                            <select name="is_active" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mt-1">
                                <option value="True">Visible</option>
                                <option value="False">Oculto</option>
                            </select>
                        </label>


                        <!-- You should use a button here, as the anchor is only used for the example  -->
                        <input class="block w-full px-4 py-2 mt-8 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-blue-700 border border-transparent rounded-lg active:bg-blue-700 hover:bg-blue-800 focus:outline-none focus:shadow-outline-blue"
                            type="submit" value="Agregar Restaurante">
                        </input>

                    </form>

                </div>
            </div>
    </div>
</div>

{% include "Inc/Footer.html" %}