{% include "Inc/Header.html" %}


        <!-- Table -->
        <div class="mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
            <header class="px-5 py-4 border-b border-gray-100">
                <h2 class="font-semibold text-gray-800">Usuarios Registrados</h2>
            </header>
            <form action="" method="get">
                <div class="relative max-w-md w-full p-4">
                    <input class="w-full h-10 pl-10 pr-4 py-1 text-base placeholder-gray-500 border rounded-full focus:shadow-outline" type="search" placeholder="Buscar..." name="buscar">
                    <div class="absolute top-1 left-2 inline-flex items-center p-6">
                        <button class="bx bx-search text-gray-400" type="submit"></button>
                    </div>
                </div>
            </form>
            <div class="p-3">
                <div class="overflow-x-auto">
                    <table class="table-auto w-full">
                        <thead class="text-xs font-semibold uppercase text-gray-500 bg-gray-50">
                            <tr>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Id</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Foto Perfil</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Nombre</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Nº Documento</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Email</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Telefono</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Administrador</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Activo</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-center">Acciones</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="text-sm divide-y divide-gray-100">
                            {% for c in profile %}
                            <tr>
                                <td class="p-2 whitespace-nowrap">
                                    <div class="text-left font-medium text-blue-500">{{ c.auth_user.id }}</div>
                                </td>
                                <td class="p-2 whitespace-nowrap">
                                    <img class="w-8 h-8 rounded-full" src="/media/{{ c.profile_img }}" alt="{{ c.profile_img }}">
                                </td>
                                <td class="p-2 whitespace-nowrap">
                                    <div class="flex items-center">
                                        <div class="font-medium text-gray-800">{{ c.auth_user.first_name }} {{ c.auth_user.last_name }}</div>
                                    </div>
                                </td>
                                <td class="p-2 whitespace-nowrap">
                                    <div class="text-left">{{ c.documento }}</div>
                                </td>
                                <td class="p-2 whitespace-nowrap">
                                    <div class="text-left">{{ c.auth_user.email }}</div>
                                </td>
                                <td class="p-2 whitespace-nowrap">
                                    <div class="text-left">{{ c.telefono }}</div>
                                </td>
                                <td class="p-2 whitespace-nowrap">
                                    {% if c.auth_user.is_superuser == True %}
                                    <div class="text-left font-medium text-green-500"><a href="{% url '/Usuario/Admin/' c.auth_user.id %}">{{ c.auth_user.is_superuser }}</a></div>
                                    {% else %}
                                    <div class="text-left font-medium text-red-500"><a href="{% url '/Usuario/Admin/' c.auth_user.id %}">{{ c.auth_user.is_superuser }}</a></div>
                                    {% endif %}
                                </td>
                                <td class="p-2 whitespace-nowrap">
                                    {% if c.auth_user.is_active == True %}
                                    <div class="text-left font-medium text-green-500"><a href="{% url '/Usuario/Estado/' c.auth_user.id %}">{{ c.auth_user.is_active }}</a></div>
                                    {% else %}
                                    <div class="text-left font-medium text-red-500"><a href="{% url '/Usuario/Estado/' c.auth_user.id %}">{{ c.auth_user.is_active }}</a></div>
                                    {% endif %}
                                </td>
                                <td class="p-2 whitespace-nowrap">
                                    <div class="px-5 py-3 text-center">
                                        <a href="/Usuario/Actualizar/{{ c.id }}" class=" text-sm bg-blue-300 hover:bg-blue-400 text-gray-800 font-semibold py-2 px-4 rounded-l"><i class="bx bx-edit-alt p-1"></i>Editar</a>
                                        <a href="/Usuario/Eliminar/{{ c.id }}" class="text-sm bg-red-300 hover:bg-red-400 text-gray-800 font-semibold py-2 px-4 rounded-r"><i class="bx bx-trash p-1"></i>Eliminar</a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="px-5 py-4 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between">
                        <div class="">
                            {% if usuario.has_previous %}
                            <a href="?page={{ usuario.previous_page_number }}" class="text-sm bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-l">
                                Prev
                            </a>
                            
                            {% for pagina in paginas %}
                            <a href="?page={{ pagina }}" class="p-2">{{ pagina }}</a>
                            {% endfor %}
                            {% endif %}
                            {% if usuario.has_next %}
                            <a href="?page={{ usuario.next_page_number }}" class="text-sm bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-r ml-2">
                                Next
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div> 
            </div>
        </div>

{% include "Inc/Footer.html" %}