</div>
</div>
 </main>   
    
 <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

    <script>
        document.addEventListener("alpine:init", () => {
            Alpine.data("layout", () => ({
                profileOpen: false,
                asideOpen: true,
            }));
        });
    </script>

    <script>
    $(".closealertbutton").click(function (e) {
        // $('.alertbox')[0].hide()
        // e.preventDefault();
        pid = $(this).parent().parent().hide(500)
        console.log(pid)
        // $(".alertbox", this).hide()
    })
    </script>

<script>
    function previewImage(event) {
      var input = event.target;
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          document.getElementById('preview-image').src = e.target.result;
          document.getElementById('preview-image').style.display = 'block';
        };
        reader.readAsDataURL(input.files[0]);
      }
    }
    </script>

<script>
  const modal = (el) => {
    const toggle = (wrapperEl, mainEl) => {
      document.querySelector('body').classList.toggle('overflow-y-hidden');
      wrapperEl.classList.toggle('opacity-100');
      wrapperEl.classList.toggle('opacity-0');
      wrapperEl.classList.toggle('visible');
      wrapperEl.classList.toggle('invisible');
      mainEl.classList.toggle('-translate-y-full');
      mainEl.classList.toggle('translate-y-0')
    };

    const extractElements = (target) => {
      const wrapper = document.querySelector(`[data-modal='${target}']`);
      const modal = wrapper.querySelector('[data-modal-main]');
      return { wrapper, modal };
    };

    const showEvent = new CustomEvent('show', {
      detail: {},
      bubbles: true,
      cancelable: true,
      composed: false,
    });

    const hideEvent = new CustomEvent('hide', {
      detail: {},
      bubbles: true,
      cancelable: true,
      composed: false,
    });

    if (!document.querySelector('[data-modal-toggle]')) {
      return;
    }

    if (!document.querySelector('[data-modal')) {
      return;
    }

    [...document.querySelectorAll('[data-modal-toggle]')].forEach((btn) =>
      btn.addEventListener('click', (event) => {
        event.preventDefault();
        const action = btn.getAttribute('data-modal-action');
        const target = btn.getAttribute('data-modal-toggle');
        const { wrapper, modal } = extractElements(target);

        if (action === 'open') {
          modal.dispatchEvent(showEvent);
        }
        if (action === 'close') {
          modal.dispatchEvent(hideEvent);
        }
        toggle(wrapper, modal);
      })
    );
  };

  // init
  modal();

  // Custom event listeners

  // This event fires immediately before the modal is start showing
  document.querySelector('[data-modal="example"]').addEventListener('show', (event) => {
    const sayHi = ['Hola', 'Zdravstvuyte', 'Salve', 'Konnichiwa', 'Guten Tag', 'Olá'];
    const randomNum = Math.floor(Math.random() * sayHi.length); 
    document.querySelector('#exampleHeader').innerText = sayHi[randomNum];
    console.log('show');
  });

  // This event is fired immediately before modal is start hidding
  document.querySelector('[data-modal="example"]').addEventListener('hide', (event) => {
    console.log('hide');
  });
</script>
  
<script>
  function calcularPrecioTotal() {
      var numPersonas = document.getElementById("num_personas").value;
      console.log(numPersonas)
      // Realiza el cálculo del precio total dependiendo del número de personas
      var precioUnitario = document.getElementById("precio").value; // Precio por persona
      console.log(precioUnitario)
      var precioTotal = numPersonas * precioUnitario;
      console.log(precioTotal)
      document.getElementById("precio_total").innerHTML = precioTotal;
  }
  </script>
    

</body>

</html>